services:
  traefik:
    image: traefik:v3.6.6
    container_name: traefik_container
    hostname: chetan-traefik
    restart: unless-stopped
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80" # HTTP traffic
      - "8080:8080" # Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro

  garage:
    image: dxflrs/garage:090dbb412aff0afcbd42183ec12fa62c15bde58b
    container_name: garage_container
    hostname: chetan-garage
    restart: unless-stopped
    # Using -c to ensure it picks up your mapped config
    command: /garage -c /etc/garage.toml server
    environment:
      - MSYS_NO_PATHCONV=1
    ports:
      - "3901:3901" # Keep RPC open for clustering
    volumes:
      - ./garage.toml:/etc/garage.toml:ro
      - ${METADATA_DIR}:/var/lib/garage/meta
      - ${DATA_DIR}:/var/lib/garage/data
    labels:
      - "traefik.enable=true"
      # S3 API Router
      - "traefik.http.routers.garage-s3.rule=HostRegexp(`{subdomain:[a-z0-9-]+}.${S3_SUBDOMAIN}`) || Host(`${S3_SUBDOMAIN}`)"
      - "traefik.http.routers.garage-s3.entrypoints=web"
      - "traefik.http.routers.garage-s3.service=garage-s3-svc"
      - "traefik.http.services.garage-s3-svc.loadbalancer.server.port=3900"

  webui:
    image: khairul169/garage-webui:1.1.0
    container_name: garage-webui_container
    hostname: chetan-webui
    restart: unless-stopped
    depends_on:
      - garage
    environment:
      - API_BASE_URL=http://garage:3903
      - API_ADMIN_KEY=${GARAGE_ADMIN_TOKEN}
      - S3_ENDPOINT_URL=http://${S3_SUBDOMAIN}
      - S3_REGION=garage
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.garage-ui.rule=Host(`${WEBUI_SUBDOMAIN}`)"
      - "traefik.http.routers.garage-ui.entrypoints=web"
      - "traefik.http.services.garage-ui-svc.loadbalancer.server.port=3909"
