services:
  traefik:
    image: traefik:v3.6.6
    container_name: traefik_container
    hostname: chetan-traefik
    restart: unless-stopped
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      # Define Entrypoints
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      # Global Redirect HTTP -> HTTPS
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
      # Enable File Provider for SSL Certs
      - "--providers.file.filename=/etc/traefik/traefik-dynamic.yaml"

    ports:
      - "80:80" # HTTP traffic
      - "443:443" # HTTPS traffic
      - "8080:8080" # Traefik Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/etc/traefik/certs:ro
      - ./traefik-dynamic.yaml:/etc/traefik/traefik-dynamic.yaml:ro

  garage:
    image: dxflrs/garage:090dbb412aff0afcbd42183ec12fa62c15bde58b
    container_name: garage_container
    hostname: chetan-garage
    restart: unless-stopped
    # Using -c to ensure it picks up your mapped config
    command: /garage -c /etc/garage.toml server
    env_file:
      - .env # Load environment variables from .env file (only MSYS_NO_PATHCONV=1 env is required)
    ports:
      - "3901:3901" # Keep RPC open for clustering
    volumes:
      - ./garage.toml:/etc/garage.toml:ro
      - ${METADATA_DIR}:/var/lib/garage/meta
      - ${DATA_DIR}:/var/lib/garage/data
    labels:
      - "traefik.enable=true"
      # S3 API Router
      - "traefik.http.routers.garage-s3.rule=HostRegexp(`{subdomain:[a-z0-9-]+}.${S3_SUBDOMAIN}`) || Host(`${S3_SUBDOMAIN}`)"
      - "traefik.http.routers.garage-s3.entrypoints=websecure"
      - "traefik.http.routers.garage-s3.service=garage-s3-svc"
      - "traefik.http.services.garage-s3-svc.loadbalancer.server.port=3900"
      # S3 API Router (HTTPS)
      - "traefik.http.routers.garage-s3.tls=true"

  webui:
    image: khairul169/garage-webui:1.1.0
    container_name: garage-webui_container
    hostname: chetan-webui
    restart: unless-stopped
    depends_on:
      - garage
    extra_hosts:
      - "${S3_SUBDOMAIN}:host-gateway"
    env_file:
      - .env # Load environment variables from .env file (# Garage WebUI section Env required)
    volumes:
      # Alpine Linux looks here for trusted CA certificates
      - ./certs/rootCA.crt:/etc/ssl/certs/rootCA.pem:ro
      - ./certs/rootCA.crt:/usr/local/share/ca-certificates/rootCA.crt:ro
      - ./garage.toml:/etc/garage.toml:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.garage-ui.rule=Host(`${WEBUI_SUBDOMAIN}`)"
      - "traefik.http.routers.garage-ui.entrypoints=websecure"
      - "traefik.http.routers.garage-ui.tls=true"
      - "traefik.http.services.garage-ui-svc.loadbalancer.server.port=3909"
